:root {
  --green-200: #e0f1e8;
  --green-600: #0c7d69;
  --grey-500: #86a2a5;
  --grey-900: #2a4144;
  --red: #d73c3c;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-200);
  display: flex;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 46rem;
  margin: 8rem auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--white);
  border-radius: 1rem;
}

h1 {
  margin-bottom: 2rem;
  color: var(--grey-900);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1;
}

.body-s {
  font-size: 1rem;
  line-height: 150%;
  color: var(--grey-900);
}

.body-m {
  font-size: 1.125rem;
  line-height: 150%;
  color: var(--white);
}

.body-m-bold {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}

form {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  cursor: pointer;
}

label span {
  color: var(--green-600) !important;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  position: relative;
}

.radio input {
  display: none;
}

.radio:has(input:checked) {
  background-color: var(--green-200);
}

.radio label {
  margin-left: 1rem;
}

.radio label::before {
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background: transparent;
  content: "";
  border: 1px solid var(--grey-500) !important;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
  padding: 0.25rem;
  padding: 4px;
  transition: all 0.3s ease;
}

input[type="radio"]:checked + .lbl-radio::before {
  background-color: var(--green-600) !important;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
  width: 1.25rem;
  height: 1.25rem;
}

.form-control {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  border: 1px solid var(--grey-500);
  width: 100%;
}

.form-control:hover {
  border-color: var(--green-600);
}
.error {
  color: var(--red);
}

button {
  background-color: var(--green-600);
  color: var(--white);
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-family: Karla, sans-serif;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #063e34;
}

input[type="checkbox"] {
  display: none;
}

.lbl-chk {
  margin-left: 1.5rem;
}
.lbl-chk:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid var(--grey-500);
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked + .lbl-chk:before {
  background-color: var(--green-600);
  border: none;
  content: "\2713";
  color: var(--white);
  line-height: 1.125rem;
  text-align: center;
  font-size: 0.625rem;
}

.thanks {
  position: absolute;
  top: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grey-900);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  width: 28.125rem;
}
.thanks .header {
  display: flex;
  gap: 0.5rem;
  color: var(--white);
}

.thanks > p {
  color: var(--green-200);
}

@media screen and (max-width: 768px) {
  main {
    width: 43.125rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 2rem 1rem;
  }
  main {
    width: 100%;
    margin: 0;
  }
  .row {
    flex-direction: column;
  }

  .thanks {
    width: calc(100% - 3rem);
  }
}
